* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/walker.jpg");
	font-family: Orbitron, sans-serif;

}

.character-image {
	padding: 0% 5%;
}

.character-card {
	background-color: #fff;
	width: 100%;
	/*margin: 0.5% 15%;*/
	
}

.select-character {
	border: solid 5px blue;
}
.player-character {
	border: solid 5px green;


}

.enemy-character {
	border: solid 5px black;
	background-color: red;
}

.defender {
	background-color: #000;
	color: #fff;
	border: solid 5px red;
}

#attackLog {
	margin-top: 10%;
}

#attack {
	padding: 2.5%;
}

